@inject AuthApiClient AuthService
@using Microsoft.AspNetCore.Components.Authorization
@using ITSMDS.Application.Constants

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 11px">سامانه پایش و مستند سازی فناوری اطلاعات</a>
    </div>
</div>

<div class="sidebar">
    <div>
        <h4 class="text-center mb-4" style="color : white">پنل مدیریت</h4>
        <AuthorizeView>
            <Authorized>
                <p style="color : darksalmon; text-align: center">سلام, @context.User.Identity.Name!</p>
            </Authorized>
        </AuthorizeView>

        <ul class="nav flex-column">

            @if (PermissionService.HasPermission(PermissionName.USER_READ))
            {
            <!-- مدیریت کاربران -->
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#userMenu" role="button" aria-expanded="false" aria-controls="userMenu">
                    <i class="fas fa-users-cog"></i> مدیریت کاربران
                </a>
                <div class="collapse" id="userMenu">
                    <ul class="nav flex-column ms-3">
                        @* @if (HasPermission(PermissionName.USER_READ))
                        {
                            <li><a class="dropdown-item" href="/user_list"><i class="fas fa-list"></i> لیست کاربران</a></li>

                        }
                        @if (HasPermission(PermissionName.USER_CREATE))
                        {
                            <li><a class="dropdown-item" href="/user/create"><i class="fas fa-user-plus"></i> افزودن کاربر</a></li>

                        }

                        @if (HasPermission(PermissionName.USER_CREATE))
                        {
                            <li><a class="dropdown-item" href="/user/permission"><i class="fas fa-user-plus"></i> مدیریت دسترسی ها</a></li>
                        } *@
                        @foreach (var item in userMenuItems)
                        {
                            <li><a class="dropdown-item" href="@item.Url"><i class="@item.Icon"></i> @item.Title</a></li>
                        }
                    </ul>
                </div>
            </li>
            }

            @if (PermissionService.HasPermission(PermissionName.ROLE_READ))
            {
                <!-- مدیریت نقش ها   -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#roleMenu" role="button" aria-expanded="false" aria-controls="roleMenu">
                        <i class="fas fa-users-cog"></i> مدیریت نقش ها
                    </a>
                    <div class="collapse" id="roleMenu">
                        <ul class="nav flex-column ms-3">

                            @* @if (HasPermission(PermissionName.ROLE_ALL))
                            {
                                <li><a class="dropdown-item" href="/role/list"><i class="fas fa-list"></i> لیست نقش ها</a></li>

                            }

                            @if (HasPermission(PermissionName.ROLE_CREATE))
                            {
                                <li><a class="dropdown-item" href="/role/create"><i class="fas fa-user-plus"></i> افزودن نقش</a></li>

                            } *@

                             @foreach (var item in roleMenuItems)
                            {
                                <li><a class="dropdown-item" href="@item.Url"><i class="@item.Icon"></i> @item.Title</a></li>
                            }
                        </ul>
                    </div>
                </li>            
                }
            @if (PermissionService.HasPermission(PermissionName.SERVER_READ))
            {
            <!-- مدیریت سرور -->
            <li class="nav-item">
                <a class="nav-link" href="/servers"><i class="fas fa-server"></i> مدیریت سرور</a>
            </li>
            }

            @if (PermissionService.HasPermission(PermissionName.SERVICE_READ))
            {
                <!-- مدیریت سرویس‌ها -->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cogs"></i> مدیریت سرویس‌ها</a>
            </li>
            }
        </ul>
    </div>

    <!-- خروج -->
    <div class="logout">
        <button class="btn btn-link btn-nav" @onclick="Logout"><i class="fas fa-sign-out-alt"></i> خروج</button>

    </div>
</div>
@code {
   
}